body {
	font-family: Quicksand Regular;
	content: '';
  width: 100%;
  background: url(../images/svg1.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
nav {
	background-color: #7e57c200 !important;
	box-shadow: none;
	height: 90px!important;
}
.card {
	box-shadow: none;
	padding: 10px;
}
.card-container {
	padding: 10px!important;
}
nav a {
	margin-top: 10px;
}
.nav-transparent a {
	color: #6b6b6b!important;
  border-radius: 20px;
  margin-top: 10px;
  font-family: 'Tw Cen MT';
  font-size: 20px;
}
.container-1 {
	margin:10px;
}
.minimalist-container img {
	width: 80%
}
.information-container {
	text-align: justify-all;
}
.greeting {
  margin: 20px;
	font-family: 'Tw Cen MT';
	font-size: 50px;
	color: #554f56!important;
}
.intro {
	font-size: 18px;
}
.resume-btn {
	background-color: #be41dd ;
}
.resume-container {
	margin:20px;
}
.skill-card-container {
  background-color: #ffffff7a;
}
.skill-card-container img {
  width: 100%;
}
.skill-card {
  background: none;
  box-shadow: 0px 0px 2px 0px #b257a1;
}
.project-card-container {
  padding: 5px;
  box-shadow: 0 0 1px 0px #8a8a8a;
  border-radius: 10px;  
  background: #ffffff;
  margin-bottom: 20px;
}
.project-card-container img {
  width: 100%;
  border-radius: 3%!important;
}
.project-card-info {
  text-align: justify;
  padding: 10px!important;
}
.project-description {
  font-size: 15px;
}
.project-card {
  padding: 0px!important;
  text-align: justify;
}
.project-title {
  font-family: 'Quicksand';
  font-size: 40px;
  color: #554f56!important;  
  margin: 10px;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: #bc73ce;
  transition: .5s;
}

/* MEDIA QUERIES */
@media (max-width: 575px) { 
  .brand-logo {
    font-size:20px!important;
  }
  .project-card-info a {
    text-align: justify-all;
    font-size: 10px;
  }
	.greeting {
  	font-size: 30px;
    text-align: center;
  }
  .intro {
    font-size: 13px;
    border-radius: 10px;  
    text-align: justify;
    background-color: #ffffffc7;
    padding: 10px;
  }
  .resume-container a {
    font-size: 10px;
  }
  .minimalist-container img {
	  width: 100%;
	}
  /* projectcss */
  .project-title {
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  .project-description {
    font-size: 12px;
  }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {  
	.greeting {
  	font-size: 25px;
  }
  .intro {
    font-size: 14px;
  }
  /* projectcss */
  .project-title {
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  .project-description {
    font-size: 14px;
  }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
	.greeting {
  	font-size: 30px;
  }
  .intro {
    font-size: 14px;
  }
  /* projectcss */
  .project-title {
    font-size: 30px;
    margin: 5px;
  }
  .project-description {
    font-size: 14px;
  }
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {  
  .greeting {
  	font-size: 40px;
  }
  .intro {
    font-size: 15px;
  }
  /* projectcss */
  .project-title {
    font-size: 30px;
    margin: 5px;
  }
  .project-description {
    font-size: 14px;
  }
}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
	/* Max */
}