body {
	font-family: Quicksand Regular;
	content: '';
  width: 100%;
  background: url(../images/svg1.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
html {
  scroll-behavior: smooth;
}
nav {
	/* background-color: #740d8e8c !important; */
	box-shadow: none;
  margin-bottom: 80px;
}
.index-data {
  margin-top: 65px!important;
}
.card {
	box-shadow: 0px 0px 1px 0px grey;
	padding: 10px;
}
.card-container {
	padding: 10px!important;
}
.card-title {
  font-family: 'Lexend Deca';
  color: #554f56;  
}
.chip {
  color: white;
  background-color: #554f56;  
}
nav a {
	/* margin-top: 10px; */
}
nav .brand-logo {
  font-family: 'Sen Regular';
	color: white!important;
}
.nav-transparent a {
	color: #6b6b6b!important;
  border-radius: 20px;
  margin-top: 10px;
  font-family: 'Sen Regular';
  font-size: 17px;
}
.project-card {
  padding: 10px 0px 10px 0px!important;
}
.project-card .card-content{
  padding: 0px!important;
}
.project-description {
  padding: 20px;
}
.social-link-card {
  text-align: center;
  color:white;
}
.container-1 {
	margin:10px;
}
.card-panel {
  background: #ffffffa8!important;
}
.card-content p{
  text-align: center;
	font-family: 'Manjari Regular';
}
.minimalist-container img {
	width: 80%
}
.information-container {
	text-align: justify-all;
}
.greeting {
  margin: 20px;
	font-family: 'Righteous Regular';
	font-size: 50px;
	color: #554f56!important;
}
.intro {
  font-size: 18px;
  font-family: 'Lexend Deca';
	color: #554f56!important;
}
.resume-btn {
  font-family: 'Sen Regular';
}
.resume-container {
	margin:20px;
}
.chip {
  margin-top: 10px;
}
.page-footer {
  margin-top: 100px;
}

.page-footer li {
  font-family: 'Sen Regular';
}

.skill-items li {
  font-family: 'Lexend Deca';
  font-size: 16px;
	color: #554f56!important;
}
.max-width {
  width: 100%!important;
}
.anchor-link-buttons {
  font-family: 'Lexend Deca';
  font-style:normal;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /* border-radius: 10px; */
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #a781a0;
}


/* MEDIA QUERIES */
@media (max-width: 575px) { 
  .brand-logo {
    font-size:20px!important;
  }
  .project-card-info a {
    text-align: justify-all;
    font-size: 10px;
  }
	.greeting {
  	font-size: 30px;
    text-align: center;
  }
  .intro {
    font-size: 15px;
    border-radius: 10px;  
    /* text-align: justify; */
    padding: 10px;
  }
  .resume-container a {
    font-size: 10px;
  }
  .minimalist-container img {
	  width: 100%;
	}
  /* projectcss */
  .project-title {
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  .project-description {
    font-size: 14px;
  }
  .collection-item a {
    font-size: 10px!important;
    width: 48%
  }
  body {
    background-size: 230% 100%;
  }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {  
	.greeting {
  	font-size: 25px;
  }
  .intro {
    font-size: 14px;
  }
  /* projectcss */
  .project-title {
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  .project-description {
    font-size: 15px;
  }
  .skill-items li {
    font-size:14px;
  }
  .brand-logo {
    font-size: 20px!important;
  }
  body {
    background-size: 350% 100%;
  }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
	.greeting {
  	font-size: 30px;
  }
  .intro {
    font-size: 14px;
  }
  /* projectcss */
  .project-title {
    font-size: 30px;
    margin: 5px;
  }
  .project-description {
    font-size: 16px;
  }
  .skill-items li {
    font-size:15px;
  }
  body {
    background-size: 250% 100%;
  }
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {  
  .greeting {
  	font-size: 40px;
  }
  .intro {
    font-size: 15px;
  }
  /* projectcss */
  .project-title {
    font-size: 30px;
    margin: 5px;
  }
  .project-description {
    font-size: 18px;
  }
  body {
    background-size: 100% 50%;
  }
}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
	/* Max */
}